<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <h4 class="list-group-item list-group-item-action">App Piano</h4>
      <a (click)="aplicarSonido(1)" class="list-group-item" style="background-color: rgb(255, 0, 0);"></a>
      <a (click)="aplicarSonido(2)" class="list-group-item" style="background-color: rgb(255, 81, 0);"></a>
      <a (click)="aplicarSonido(3)" class="list-group-item" style="background-color: rgb(255, 230, 0);"></a>
      <a (click)="aplicarSonido(4)" class="list-group-item" style="background-color: rgb(7, 136, 18);"></a>
      <a (click)="aplicarSonido(5)" class="list-group-item" style="background-color: rgb(0, 255, 255);"></a>
      <a (click)="aplicarSonido(6)" class="list-group-item" style="background-color: rgb(0, 17, 255);"></a>
      <a (click)="aplicarSonido(7)" class="list-group-item" style="background-color: rgb(195, 0, 255);"></a>
    </ul>
  </div>
</div>
<audio controls>
  <source src="../assets/sonidos/do.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

